 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

#head{
    font-size: 2.5rem;
    font-weight: 550;
    color: rgb(50, 45, 45);
    }.month{
        font-size: 2rem;
        font-weight: 550;
        color: rgb(50, 45, 45);
    }
    
    #all_div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        width: 90%;
        margin: auto;
        gap: 20px;
    }
    #all_div>div>img{
        width: 100%;
        height: 200px;
        border-radius: 7px;
    
    }h5{
        color: rgb(255, 98, 0);
        margin-bottom: -10px;
    }h3{
        color: rgb(50, 45, 45);
        margin-bottom: -10px;
    }#pera{
        width: 80%;
        margin: auto;
        margin-top: 50px;
    }#foot{
        margin-top: 20px;
    }@media all and (min-width:481px) and (max-width:768px){
    
        #all_div{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 90%;
        margin: auto;
        gap: 20px;
    }
    }
    @media all and (min-width:100px) and (max-width:480px){
        #all_div{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 90%;
        margin: auto;
        gap: 20px;
    }
    
    }