
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

.heading{
    font-size: 3rem;
    font-weight: 500;
    color: rgb(50, 47, 47);
    margin-bottom: -10px;
}
.subhead{
    font-size: 2rem;
    margin-bottom: 10px;
}h5{
    color: rgb(19, 151, 151);
}

#main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
    height: auto;
}
#main>div>img{
    width: 100%;
    height: 200px;
    border-radius: 5px;

}.btn{
    background-color: rgb(19, 151, 151);
    width: 70px;
    border: 0px;
    border-radius: 8px;
    height: 25px;
    margin-left: 150px;
    color: white;
}.btn2{
    color: rgb(19, 151, 151);
    border-radius: 8px;
    border-color:  rgb(19, 151, 151);
    height: 30px;
    margin-left: 65px;
}.rem{
    font-size: larger;
    font-weight: 550;
}#fle{
    display: flex;
    width: 90%;
    gap: 20px;
    margin: auto;
    margin-top: px;
}
#fle>div>img{
    width: 100%;
    height: 200px;
    margin-top: 20px;
    border-radius: 7px;
}#four{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
}#four>div>img{
    width: 100%;
    height: 200px;
    border-radius: 8px;
    margin-top: 20px;
}.h5{
    color: rgb(255, 98, 0);
}h3{
    color: rgb(50, 45, 45);
}

@media all and (min-width:480px) and (max-width:768px){

    #main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
    height: auto;
    text-align: center;
}
}
@media all and (min-width:100px) and (max-width:479px){

    #main{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 15px;
    width: 90%;
    margin: auto;
    height: auto;
    text-align: center;
}

}

@media all and (min-width:480px) and (max-width:768px){

#four{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 15px;
width: 90%;
margin: auto;
height: auto;
text-align: center;
}
}
@media all and (min-width:100px) and (max-width:479px){

#four{
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 15px;
width: 90%;
margin: auto;
height: auto;
text-align: center;
}

}

@media all and (min-width:480px) and (max-width:768px){

#fle{
display: grid;
grid-template-columns: repeat(2,1fr);
gap: 15px;
width: 90%;
margin: auto;
height: auto;
text-align: center;
}
}
@media all and (min-width:100px) and (max-width:479px){

#fle{
display: grid;
grid-template-columns: repeat(1,1fr);
gap: 15px;
width: 90%;
margin: auto;
height: auto;
text-align: center;
}

}