body {
  font-family: helvetica, arial, sans-serif;
}
*{
  box-sizing: border-box;
  color: #333333;
  padding: 0;
  
}
#main {
  width: 101vw;
  height: 450px;
  /* border: 1px solid red; */
  background-image: url("https://cdn1.tripoto.com/media/transfer/img/1789711/Image/1656336375_offbeat_places_2_1.gif");
  /* background-image: image-set(width:100%); */
  background-size: 100% 450px;
  margin-top: 0px;
  /* border-top: 0px; */
}

/* #navbar {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  font-family: inherit;
  position: fixed;
  color: #ffffff;
}
#navbar>div>h3{
  color: #ffffff;
  
  background-color: transparent;
  cursor: pointer;
}

#navbar > div:nth-child(1) {
  margin-right: 520px;
} */

#main > h1 {
  color: white;
  margin-top: 100px;

  text-align: center !important;
  font-weight: bold;
}
#small {
  width: 60%;
  height: 40px;
  margin-left: 140px;
  /* border: 1px solid red; */
  font-size: 12px;
  margin-top: 20px;
}
#small > img {
  width: 15px;
}
#small > img + p {
  margin-top: -20px;
  margin-left: 25px;
  /* color: chocolate; */
  color: #333;
}
#small > img + p + p {
  margin-top: -25px;
  margin-left: 45px;
  /* color: chocolate; */
  color: #2f9bdb;
}
#small > img + p + p + p {
  margin-top: -26px;
  margin-left: 135px;
  /* color: chocolate; */
  color: #333;
}
#small > img + p + p + p + p {
  margin-top: -26px;
  margin-left: 165px;
  /* color: chocolate; */
  color: #333;
}
#small + h1,
#small + h1 + p {
  margin-left: 140px;
}
#Tripoto {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 530px);
  gap: 30px;
  row-gap: 100px;
  width: 80%;
  margin: auto;
  /* font-family: HelveticaNeue",Helvetica,Arial,sans-serif; */
  font-family: -apple-system, helvetica, arial, sans-serif;

}

#Tripoto > div {
  border-bottom:1px solid #ddd ;

  cursor: pointer;
  
}

#Tripoto > div > img {
  width: 100%;
  border-radius: 5px;
}

#Tripoto > div > img + h4 {
  text-transform: uppercase;
  color: #359391;
  font-size: 15px;
}

#Tripoto > div > img:nth-child(4) {
  width: 4%;
}

#Tripoto > div > h4:nth-child(5) {
  margin-top: -20px;
  margin-left: 30px;
  font-size: 15px;
  color: #359391;
}

#Tripoto > div > p:nth-child(7) {
  margin-top: -34px;
  margin-left: 65px;
  font-size: 15px;
  color: #359391;
}

#Tripoto > div > button:nth-child(8) {
  margin-left: 270px;
  /* margin-bottom: 100px; */
  background-color: #359391;
  color: #fff;
  padding: 5px;
  border-radius: 30px;
  border: none;

}


#Tripoto > div > button:nth-child(9) {
  /* margin-bottom: 30px; */

  margin-left: 250px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #359391;
  background-color: #fff;
  color: #359391;
  border-radius: 5px;
  margin-top: 20px;
}
#Tripoto > div > button:nth-child(9)+img{
  width: 40px;
  border-radius: 50px;
  margin-top: 60px;
  /* visibility: hidden; */
}
#Tripoto > div > button:nth-child(9)+img+p{
  margin-top: -35px;
  margin-left: 50px;
}
#Tripoto > div > button:nth-child(5){
  height: 500px;
  border: 1px solid red;
}

#Tripoto + h1 {
  margin-left: 140px;
  margin-top: 80px;
}
#Tripoto + h1,
#Tripoto + h1 + h3,
#Tripoto + h1 + h3 + p {
  margin-left: 140px;
  
}


@media screen and (min-width: 427px) and (max-width: 1000px) {
  #main {
    width: 101vw;
    top: 0;
    height: 400px;
    background-image: url("https://cdn1.tripoto.com/media/transfer/img/1789711/Image/1656336375_offbeat_places_2_1.gif");
    /* background-image: image-set(width:100%); */
    background-size: 100% 450px;
    
  }
  *{
    box-sizing: border-box;
    
  }
 

  #navbar {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    font-family: inherit;
    position: fixed;
    width: 101vw;
    /* margin-top: 0px; */
    /* background-color: #2f9bdb;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
    height: 48px;
    top: 0px;
  
  }

  /* #navbar > div:nth-child(1) {
    margin-right: 15px;
  } */ */
  #navbar{
    /* border: 1px solid black; */
    position: fixed;
    top: 0; 
    height: 50px;
    z-index: 1000;
  }
  #navbar{
    width: 100%;
    padding-left: 10px;
    
  }
  nav.scrolled {
    transition: all 2s;
    background-color: #2f9bdb;
  }
  #rightNavbar>a>img{
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
   
  }

.corner{
  margin-top: 20px;
  position: absolute;
  /* left: 2%; */
  height: 15px;
  /* border: 1px solid black; */
  display: flex;
  gap: 20px;
  border: none; 
  color: white;
  margin-right: 100px;
}

  #logotripoto{
    width: 100px;
    margin-top: 7px;
  }
   

  #main > h1 {
    color: white;
    margin-top: 100px;

    text-align: center;
    font-weight: bold;
  }
  #small {
    width: 60%;
    height: 40px;
    margin-left: 140px;
    /* border: 1px solid red; */
    font-size: 12px;
    margin-top: 40px;
  }
  #small > img {
    width: 15px;
  }
  #small > img + p {
    margin-top: -20px;
    margin-left: 25px;
    /* color: chocolate; */
    color: #333;
  }
  #small > img + p + p {
    margin-top: -25px;
    margin-left: 45px;

    color: #2f9bdb;
  }
  #small > img + p + p + p {
    margin-top: -26px;
    margin-left: 165px;

    color: #333;
  }
  #small > img + p + p + p + p {
    margin-top: -26px;
    margin-left: 195px;

    color: #333;
  }
  #small + h1,
  #small + h1 + p {
    margin-left: 100px;
  }
  #Tripoto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 550px);
    /* gap: 10px; */
    width: 80%;
    /* margin: auto; */
    /* font-family: HelveticaNeue",Helvetica,Arial,sans-serif; */
    font-family: -apple-system, helvetica, arial, sans-serif;
  }

  #Tripoto > div {
    border-bottom: 2px solid #ddd;
   
    cursor: pointer;
    margin-left: 40px;
    width: 300px;
    height:500px;
    /* margin-bottom: 100px; */
    margin-bottom: none;
  
  }
  #Tripoto > div:nth-child(11) {
    height: 520px;
  }

  #Tripoto > div > img {
    width: 100%;
    border-radius: 5px;
  }

  #Tripoto > div > img + h4 {
    text-transform: uppercase;
    color: #359391;
    font-size: 15px;
  }

  #Tripoto > div > img:nth-child(4) {
    width: 3%;
  }

  #Tripoto > div > h4:nth-child(5) {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 15px;
    color: #359391;
  }

  #Tripoto > div > p:nth-child(7) {
    margin-top: -34px;
    margin-left: 65px;
    font-size: 15px;
    color: #359391;
  }

  #Tripoto > div > button:nth-child(8) {
    margin-left: 270px;
    /* margin-bottom: 100px; */
    background-color: #359391;
    color: #fff;
    padding: 5px;
    border-radius: 30px;
    border: none;
  
  }

  #Tripoto > div > button:nth-child(9) {
  

    margin-left: 250px;
    /* margin-bottom: 300px; */

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    border: 1px solid #359391;
    background-color: #fff;
    color: #359391;
    border-radius: 5px;
   
  }
  #Tripoto > div > button:nth-child(9)+img,#Tripoto > div > button:nth-child(9)+img+p{
    visibility: hidden;
  
  }
  #Tripoto+h1,#Tripoto+h1+h3,#Tripoto+h1+h3+p{
    margin-left: 100px;
  }
  *{
    box-sizing: border-box;
}

#container{
  visibility: hidden;
}
 #end{
margin-left: 43%;
visibility: hidden;
}
#foot{
  visibility: hidden;
}
}




@media screen and (min-width: 101px) and (max-width: 425px) {
  
  *{
    box-sizing: border-box;
  }
  #main {
    width: 140vw;
    top: 0;
    height: 400px;
    background-image: url("https://cdn1.tripoto.com/media/transfer/img/1789711/Image/1656336375_offbeat_places_2_1.gif");
    background-size: 100% 450px;
    
  }
  *{
    box-sizing: border-box;
    
  }
 

  #navbar {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
   
    font-family: inherit;
    position: fixed;
    width: 54%;
   
    /* background-color: #2f9bdb; */
    padding-left: 20px;
    padding-right: 20px;
    font-size: 10px;
    height: 48px;
    top: 0px;
  
  }

  #navbar > div:nth-child(1) {
    margin-right: 50px;
  }
  #logotripoto{
    width: 100px;
    margin-top: 7px;
  }

  #main > h1 {
    color: white;
    margin-top: 100px;

    text-align: center;
    font-weight: bold;
  }
  #small {
    width: 60%;
    height: 40px;
    margin-left: 70px;
    /* border: 1px solid red; */
    font-size: 12px;
    margin-top: 40px;
  }
  #small > img {
    width: 15px;
  }
  #small > img + p {
    margin-top: -20px;
    margin-left: 10px;
    /* color: chocolate; */
    color: #333;
  }
  #small > img + p + p {
    margin-top: -25px;
    margin-left: 25px;

    color: #2f9bdb;
  }
  #small > img + p + p + p {
    margin-top: -26px;
    margin-left: 105px;

    color: #333;
  }
  #small > img + p + p + p + p {
    margin-top: -26px;
    margin-left: 125px;

    color: #333;
  }
  #small + h1,
  #small + h1 + p {
    margin-left: 60px;
  }
  #Tripoto {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(10, 500px);
    /* gap: 10px; */
    width: 80%;
    margin-left: 20px;
    
    font-family: -apple-system, helvetica, arial, sans-serif;
  }

  #Tripoto > div {
    border-bottom: 2px solid #ddd;
   
    cursor: pointer;
    margin-left: 40px;
    width: 300px;
    height:500px;
    font-size: 13px;
    
  }
  #Tripoto > div:nth-child(11) {
    height: 520px;
  }

  #Tripoto > div > img {
    width: 100%;
    border-radius: 5px;
  }

  #Tripoto > div > img + h4 {
    text-transform: uppercase;
    color: #359391;
    font-size: 15px;
  }

  #Tripoto > div > img:nth-child(4) {
    width: 3%;
  }

  #Tripoto > div > h4:nth-child(5) {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 15px;
    color: #359391;
  }

  #Tripoto > div > p:nth-child(7) {
    margin-top: -34px;
    margin-left: 65px;
    font-size: 15px;
    color: #359391;
  }

  #Tripoto > div > button:nth-child(8) {
    margin-left: 220px;
    /* margin-bottom: 100px; */
    background-color: #359391;
    color: #fff;
    padding: 5px;
    border-radius: 30px;
    border: none;
  
  }

  #Tripoto > div > button:nth-child(9) {
  

    margin-left: 200px;
    margin-bottom: 300px;

    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 2px;
    border: 1px solid #359391;
    background-color: #fff;
    color: #359391;
    border-radius: 5px;
  }
  #Tripoto > div > button:nth-child(9)+img, #Tripoto > div > button:nth-child(9)+img+p{
    visibility: hidden;
  
  }
  #Tripoto+h1,#Tripoto+h1+h3,#Tripoto+h1+h3+p{
    margin-left: 70px;
    font-size: 13px;
  }
  #container{
    visibility: hidden;
  }
   #end{
  margin-left: 43%;
  visibility: hidden;
  }
  #foot{
    visibility: hidden;
  }
}
