#main {
    width: 100%;
    height: 450px;
    border: 1px solid red;
    background-image: url("https://cdn1.tripoto.com/media/transfer/img/1789711/Image/1656336375_offbeat_places_2_1.gif");
    /* background-image: image-set(width:100%); */
    background-size: 100% 450px;

}

#navbar {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    font-family: inherit;
    position: fixed;



}

#navbar>div:nth-child(1) {
    margin-right: 650px;

}

#main>h1 {
    color: white;
    margin-top: 100px;

    text-align: center !important;
    font-weight: bold;
}
#small{
    width: 60%;
    height: 40px;
    margin-left: 140px;
    /* border: 1px solid red; */
    font-size: 12px;
    margin-top: 10px;
}
#small>img{
    width: 15px;
}
#small>img+p{
    margin-top: -20px;
    margin-left: 25px;
    /* color: chocolate; */
    color: #333;
}
#small>img+p+p{
    margin-top: -25px;
    margin-left: 45px;
    /* color: chocolate; */
    color: #2f9bdb;
}
#small>img+p+p+p{
    margin-top: -26px;
    margin-left: 135px;
    /* color: chocolate; */
    color: #333;
}
#small>img+p+p+p+p{
    margin-top: -26px;
    margin-left: 165px;
    /* color: chocolate; */
    color: #333;
}
#small+h1, #small+h1+p{
    margin-left: 140px;
}
#Tripoto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:repeat(4,480px);
    gap: 30px;
    width: 80%;
    margin: auto;
    /* font-family: HelveticaNeue",Helvetica,Arial,sans-serif; */
    font-family: -apple-system, helvetica, arial, sans-serif
}

#Tripoto>div {
    border-bottom: 1px solid red;
    /* border: 1px solid red; */
    cursor: pointer;



}

#Tripoto>div>img {
    width: 100%;
    border-radius: 5px;

}

#Tripoto>div>img+h4 {
    text-transform: uppercase;
    color: #359391;
    font-size: 15px;


}

#Tripoto>div>img:nth-child(4) {
    width: 4%;
}

#Tripoto>div>h4:nth-child(5) {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 15px;
    color: #359391
}

#Tripoto>div>p:nth-child(7) {
    margin-top: -34px;
    margin-left: 55px;
    font-size: 15px;
    color: #359391
}

#Tripoto>div>button:nth-child(9) {


    margin-left: 30px;

}

#Tripoto>div>button:nth-child(8) {
    /* margin-bottom: 30px; */


    margin-left: 250px;

}