body {
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
}

#main {
    width: 100%;
    height: 400px;
    border: 1px solid red;
    background-image: url("https://cdn1.tripoto.com/assets/2.9/img/home_banner_road.jpg");
}

#navbar {
    color: #fff;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    font-family: inherit;
    position: fixed;



}

#navbar>div:nth-child(1) {
    margin-right: 650px;

}

#main>h1 {
    color: white;
    margin-top: 100px;

    text-align: center !important;
    font-weight: bold;
}

input {
    width: 480px;
    height: 50px;
    margin-left: 470px;
    border-radius: 10px;

}

.smallDiv {
    /* display: flex; */
    display: flex;
    flex-direction: row;
    /* border: 1px solid red; */
    margin: auto;
    margin-top: 30px;
    height: 200px;
    justify-content: space-around;
    width: 95%;
}

.smallDiv>div {

    /* border: 1px solid red; */
    height: 100px;
    width: 300px;
    margin-top: 50px;
}

.smallDiv>div>img {
    width: 100%;
}

.moving {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 350px;
    gap: 20px;
    width: 80%;
    margin: auto;
    text-transform: capitalize;
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
    position: relative;

}



.moving>div>img {
    width: 100%;
    height: 50%;
    border-radius: 5px;


}

.moving>div>h3 {
    font-size: 20px;
}

.btn_left_class {
 
    position: absolute;
    top: 20%;
    left: -1%;
    border-radius: 17px;
    padding: 8px;
    border: none;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn_right_class {
    position: absolute;
    top: 20%;
    left: 99%;
    border-radius: 50px;
    padding: 9px;
    border: none;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#road {
    width: 80%;
    height: 400px;
    margin: auto;
}

#road>img {
    width: 100%;

    margin-top: 50px;

}

#august>div>img+h3+p+p {
    color: blue;
    margin-top: -35px;
    margin-left: 40px;
}

#International>div>img+h3+p+p {
    color: blue;
    margin-top: -35px;
    margin-left: 40px;
}

#august+h1 {
    margin-left: 140px;
    margin-top: 20px;

}

#type>div>img+h4+h3+p+p {
    color: blue;
    margin-top: -35px;
    margin-left: 40px;
}

.smallDiv+h1 {
    margin-left: 140px;

}

#Tripoto {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
    gap: 20px;
    width: 80%;
    margin: auto;
    /* font-family: HelveticaNeue",Helvetica,Arial,sans-serif; */
    font-family: -apple-system, helvetica, arial, sans-serif
}

#Tripoto>div {
    border-bottom: 1px solid red;



}

#Tripoto>div>img {
    width: 100%;
    border-radius: 5px;

}

#Tripoto>div>img+h4 {
    text-transform: uppercase;
    color: #359391;
    font-size: 15px;


}

#Tripoto>div>img:nth-child(4) {
    width: 4%;
}

#Tripoto>div>h4:nth-child(5) {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 15px;
    color: #359391
}

#Tripoto>div>p:nth-child(7) {
    margin-top: -34px;
    margin-left: 55px;
    font-size: 15px;
    color: #359391
}


#Tripoto>div>button:nth-child(8) {
   


    margin-left: 250px;
    /* padding: 4px; */
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #359391;
    background-color: #fff;
    color: #359391;
    border-radius: 5px;

}

#partners {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px;
    gap: 40px;
    width: 80%;
    margin: auto;
    margin-top: 10px;

}

#partners>div>img {
    width: 10%;
    border-radius: 50px;
}

#partners>div>img+p {
    margin-top: -30px;
    margin-left: 50px;
}

#Budget {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    gap: 20px;
    width: 80%;
    margin: auto;
    /* font-family: HelveticaNeue",Helvetica,Arial,sans-serif; */
    font-family: -apple-system, helvetica, arial, sans-serif
}

#Budget>div {
    border-bottom: 1px solid red;





}

#Budget>div>img {
    width: 100%;
    border-radius: 5px;

}

#Budget>div>img+h4 {
    text-transform: uppercase;
    color: #359391;
    font-size: 15px;
}

#Budget>div>img:nth-child(4) {
    width: 4%;
}

#Budget>div>h4:nth-child(5) {
    margin-top: -20px;
    margin-left: 30px;
    font-size: 15px;
}

#Budget>div>p:nth-child(7) {
    margin-top: -34px;
    margin-left: 70px;
    font-size: 15px;
    color: #359391
}

#Budget>div>button:nth-child(8) {
    /* margin-bottom: 30px; */

    /* padding: 5px; */
    margin-left: 180px;
    margin-top: 20px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #359391;
    background-color: #fff;
    color: #359391;
    border-radius: 5px;

}

#partnersfor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 100px;
    gap: 40px;
    width: 80%;
    margin: auto;
    margin-top: 10px;

}

#partnersfor>div>img {
    width: 10%;
    border-radius: 50px;
}

#partnersfor>div>img+p {
    margin-top: -30px;
    margin-left: 50px;
}


#partnersfor+h1 {
    margin-left: 140px;
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
}

#partnersfor+h1+p {
    margin-left: 140px;
    margin-right: 70px;
    font-family: circularairpro-bold, Helvetica, Arial, sans-serif;
}

#womens {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 500px;
    gap: 20px;
    width: 80%;
    margin: auto;

}

#womens>div>img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

#Trip {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    gap: 20px;
    width: 80%;
    margin: auto;

}



#Trip>div>img {
    width: 100%;
    border-radius: 8px;
}


#Vlogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    gap: 20px;
    width: 80%;
    margin: auto;

}


#Vlogs>div>img {
    width: 100%;
    height: 60%;
    border-radius: 8px;
}

#Vlogs>div>img+h3+p+p {
    color: blue;
    margin-top: -35px;
    margin-left: 35px;
}

.heading {
    margin-left: 140px;
}

#womens+h1 {
    margin-top: 60px;
}

#moving_id>div>h4 {
    color: #f63;
}

#serach_id {
    background-image: url('searchicon.png');
    box-sizing: border-box;

    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;

}